{% extends 'master.html' %}
{% load bootstrap4 %}
{% load static %}

{%block titulo%}Listar productos{%endblock%}

{%block cuerpo%}
<h1>Contactenos</h1>
<div class="alert alert-info" role="alert">
    Complete el siguiente formulario para ponerse en contacto con unos de nuestros ejecutivos. Ellos estarán analizando su consulta para brindarle una pronta respuesta.
</div>
<form method='POST'>
    {% csrf_token %}
    {% for campo in formulario %}
        {% bootstrap_field campo layout='horizontal' %}
    {% endfor %}
    {% buttons %}
        <input class="btn btn-primary" type="submit" value="Guardar">
        <input class="btn btn-primary" type="reset" value="Limpiar">
        <a href="{% url 'inicio' %}" class="btn btn-primary">Regresar</a>
    {%endbuttons%}
</form>

{%endblock%}