{% extends "master.html" %}
{% load bootstrap4 %}
{% load static %}

{%block titulo%}Iniciar sesión{%endblock%}

{% block cuerpo %}
    <div class="jumbotron">
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <table style="width: 80%; margin-left: auto;margin-right: auto;">
                <tr>
                    <td>
                        <img style='height: auto;width: 100%;' src="{% static 'imagenes/FUNDASTORE-logo.svg' %}" alt="FUNDASTORE">
                        <p></p>
                    </td>
                </tr>

                {% if form.errors %}
                    <tr>
                        <td>
                            <div class="alert alert-danger" role="alert">
                               Ususario o contraseña incorrectos. Por favor intenta de nuevo.
                            </div>
                        </td>
                    </tr>
                {% endif %}
                {% if next and next != '/'%}
                    <tr>
                        <td>
                            <div class="alert alert-warning" role="alert">
                                {% if user.is_authenticated %}
                                    Tu cuenta no posee los privilegios necesarios para visualizar esta página.
                                    <br>Para acceder a esta página debes iniciar sesión con una cuenta que si  posea estos privilegios. 
                                {% else %}
                                    Debes iniciar sesión para ver esta pagina.
                                {% endif %}
                            </div>
                        </td>
                    </tr>
                {% endif %}
                
                <tr>
                    <td>{% bootstrap_field form.username %}</td>
                </tr>
                <tr>
                    <td>{% bootstrap_field form.password  %}</td>
                </tr>
                <tr>
                    <td>
                        {% buttons %}
                        <input type="submit" value="Iniciar sesión" class="btn btn-primary">
                        <input type="hidden" name="next" value="{{ next }}">
                        {% endbuttons %}
                    </td>
                </tr>
                <tr>
                    <td>
                        {% buttons %}
                            {# Assumes you setup the password_reset view in your URLconf #}
                            <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
                        {% endbuttons %}
                    </td>
                </tr>
            </table>
        </form>



    </div>
{% endblock %}